{{#each this}}
<li class="movie">
  <div class="btn-id">
    <button data-id="{{id}}" class="btn-youtube">
      <div class="overlay-btn-youtube-text" data-id="{{id}}">
        <h2 class="btn-youtube-text">Film</h2>
      </div>
    </button>
  </div>
  <a href="#" class="poster-wrap">
    {{#if this.poster_path}}
    <img class="movie-poster" data-id="{{id}}"
      src="https://image.tmdb.org/t/p/w342{{poster_path}}"
      alt="{{original_title}}">
    {{else}}{{/if}}
  </a>

  <h2 class="movie-title">{{original_title}}</h2>
  <p class="movie-descrition">
    {{#each genre_ids}}{{this}}, {{/each}}| {{release_date}}
    <span class="movie-rating visually-hidden">{{vote_average}}</span>
  </p>
</li>
{{/each}}
