{{#each this}}
<li class="movie">
  <a href="#" class="poster-wrap">
    {{#if this.poster_path}}
    <img class="movie-poster" data-id="{{id}}"
      src="https://image.tmdb.org/t/p/w342{{poster_path}}"
      alt="{{original_title}}">
    {{else}}{{/if}}
  </a>

  <h2 class="movie-title">{{original_title}}</h2>
  <p class="movie-descrition">
    {{#if this.genres}}{{#each genres}}{{this.name}}, {{/each}}| {{release_date}}
    {{else}}{{#each genre_ids}}{{this}}, {{/each}}| {{release_date}}{{/if}}
    <span class="movie-rating visually-hidden">{{vote_average}}</span>
  </p>
</li>
{{/each}}
