    {{#each this}}
    <li class="movie">
      <img class="movie-poster" data-id="{{id}}"
        src="{{#if this.poster_path}}https://image.tmdb.org/t/p/w342{{poster_path}}{{/if}}"
        alt="{{original_title}}">

      <h2 class="movie-title">{{original_title}}</h2>
      <p class="movie-descrition">
        {{#each genre_ids}}{{this}}, {{/each}}| {{release_date}}
        <span class="movie-rating visually-hidden">{{vote_average}}</span>
      </p>
    </li>
    {{/each}}
